@{
    Layout = "_Layout";
}
<div class="container">
    <h1>注册</h1>
    <hr />
    <div class="row">
        <div class="col-4">
            @RenderBody()
        </div>
        <div class="col-5 offset-1">
            @RenderSection("Register")
        </div>
    </div>
    <hr />
</div>
