@page
@model RazorPage.Pages.Register.RegisterModel
@{
    Layout = "Layout/_Register";
    ViewData["Title"] = "注册";
}
<style>
    .field-validation-error {
        color:red;
        font-size:12px;
    }
</style>
<form method="post" asp-page="Register/Register">
    <div style="padding:10px 20px;border:2px dashed;border-radius:5px;margin-bottom:20px;border-color:gainsboro;background-color:lightyellow;">
        <div>
            <label>邀请人：(*必填，没有邀请人)</label>
            <input asp-for="NewUser.InvitedBy.Name" class="form-control" />
            <span asp-validation-for="NewUser.InvitedBy.Name"></span>
        </div>
        <div>
            <label>邀请码：(*必填)</label>
            <input asp-for="NewUser.InvitedBy.InvitedCode" class="form-control" />
            <span asp-validation-for="NewUser.InvitedBy.InvitedCode"></span>
        </div>
    </div>
    <div>
        <label>用户名：(*必填)</label>
        <input asp-for="NewUser.Name" class="form-control" />
        <span asp-validation-for="NewUser.Name"></span>
    </div>
    <div>
        <label>密码：(*必填)</label>
        <input asp-for="NewUser.Password" class="form-control" />
        <span asp-validation-for="NewUser.Password"></span>
    </div>
    <div>
        <label>验证密码：(*必填)</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    @*<div>
            <label>验证码：(*必填)</label>
            <input asp-for="" class="form-control" />
        </div>*@
    <div style="margin-top:20px;">
        <input value="提交" type="submit" class="btn btn-primary">
        <input value="重置" type="reset"  class="btn btn-light">
    </div>
</form>
@section Register
{
}
