@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

@for (int i = 1; i < 5; i++)
{
    <div style="text-align:center">
        @for (int j = 1; j <= i * 2 - 1; j++)
        {
            string color = i % 2 == 0 ? "blue" : "red";
            <span style="color:@color">i</span>
        }
    </div>
}


