@page
@model RazorPage.Pages.User.UserInfoModel
@{
    ViewData["Title"] = "用户信息";
}

@*<partial name="_User" model="@Model.Users" />*@
<div>
    <label>Id:@Model.Users.Id</label>
    <br />
    <label>Name:@Model.Users.Name</label>
    <br />
    <label>Level:@Model.Users.Level</label>
</div>



